a.btn {
  background-color: $main_color;
  margin-bottom: 10px;
  &:hover {
    background-color: $main_color_hover;
  }
  &.signup {
    background-color: $action_color;
    &:hover {
      background-color: $action_color_hover;
    }
  }
  &.add {
    background-color: $action_color;
    right: 11%;
    position: absolute;
    bottom: -6px;
    &:hover {
      background-color: $action_color_hover;
    }
  }
}