.v--modal {
    .row {
        margin-bottom: 10px;
        .col {
            height: 10px;
        }
    }
    .dropdown, .fa-calendar {
        margin-top: 10px;
    }
    .btn {
        margin-top: 30px;
    }
    .errors {
        color: red;
        margin-left: 10px;
        height: 45px;
        overflow-y: scroll;
    }
}