h2, .VueTables {
  width: 80%;
  margin: 10px auto;
  .pagination li {
    margin-top: 17px;
  }
  .VuePagination__pagination-item-prev-chunk, .VuePagination__pagination-item-next-chunk {
      display: none;
  }
}