#app > div > div {
  position: relative;
}
.progress, .clear, .VueTables__limit {
  display: none;
}
.has-error {
  color: $error_color !important;
  border: 1px solid $error_color !important;
}
.fa {
  cursor: pointer;
}