{% load static %}
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" type="text/css" href="{% static 'public/app.css' %}" />
        <title>Courses</title>
    </head>
    <body>
        <div id="app">
          <router-view></router-view>
        </div>
        {% csrf_token %}
        <script type="text/javascript" src="{% static 'public/vendor.js' %}"></script>
        <script type="text/javascript" src="{% static 'public/app.js' %}"></script>
        <script type="text/javascript">require('js/app')</script>
    </body>
</html>
